@import url('./reset.scss');
@import url('./variables.scss');

a {
  position: absolute;
  width: 200px;
  height: 200px;

  a  {
    a {
      a {
        a {
          a {
            a {
              color: #000;
            }
          }
        }
      }
    }
  }
}